In [4]:
import pandas as pd

In [5]:
import pandas as pd
days = pd.Series(['Monday', 'Tuesday', 'Wednesday'])
print(days)

0       Monday
1      Tuesday
2    Wednesday
dtype: object

In [6]:
import numpy as np
arr = [6, 7, 8, 9]
print(type(arr))

<class 'list'>

In [7]:
a = np.array(arr)
print(type(a))

<class 'numpy.ndarray'>

In [8]:
print(a.shape)

(4,)

In [9]:
print(a.dtype)

int32

In [10]:
print(a.ndim)

1

In [11]:
b = np.array([[1, 2, 3], [4, 5, 6]])
print(b)

[[1 2 3]
 [4 5 6]]

In [12]:
print(b.ndim)

2

In [13]:
print(b.shape)

(2, 3)

In [14]:
import numpy as np
arr = [6, 7,8, 9]
print(type(arr))

<class 'list'>

In [15]:
np.random.random((2, 3))

array([[4.73815596e-04, 2.55069365e-01, 9.88601632e-01],
       [8.37896652e-01, 2.56633324e-01, 4.90147950e-01]])

In [16]:
np.zeros((2, 3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [17]:
np.ones((2, 3))

array([[1., 1., 1.],
       [1., 1., 1.]])

In [18]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [19]:
c = np.array([[9.0, 8.0, 7.0], [1.0, 2.0, 3.0]])
d = np.array([[4.0, 5.0, 6.0], [9.0, 8.0, 7.0]])
print(c + d)

[[13. 13. 13.]
 [10. 10. 10.]]

In [20]:
print(c * d)

[[36. 40. 42.]
 [ 9. 16. 21.]]

In [21]:
print(5/d)

[[1.25       1.         0.83333333]
 [0.55555556 0.625      0.71428571]]

In [22]:
print(c ** 2)

[[81. 64. 49.]
 [ 1.  4.  9.]]

In [23]:
print(a[0])

6

In [25]:
print(a[3])

9

In [26]:
print(b[0, 0])

1

In [27]:
print(b[1, 2])

6

In [28]:
print(c[0, 1])

8.0

In [29]:
print(d[1, 0:2])

[9. 8.]

In [30]:
e = np.array([[10, 11, 12], [13, 14, 15], [16, 17, 18,], [19, 20, 21]])
print(e[:3, :2])

[[10 11]
 [13 14]
 [16 17]]

In [31]:
print(e[[2, 0, 3, 1], [2, 1, 0, 2]])

[18 11 19 15]

In [32]:
print(e[e>15])

[16 17 18 19 20 21]

In [33]:
days_list = np.array(['Monday', 'Tuesday', 'Wednesday'])
numpy_days = pd.Series(days_list)
print(numpy_days)

0       Monday
1      Tuesday
2    Wednesday
dtype: object

In [34]:
days = pd.Series(['Monday', 'Tuesday', 'Wednesday'], index=['a', 'b', 'c'])
days1 = pd.Series({'a':'Monday', 'b':'Tuesday', 'c':'Wednesday'})
print(days)
print(days1)

a       Monday
b      Tuesday
c    Wednesday
dtype: object
a       Monday
b      Tuesday
c    Wednesday
dtype: object

In [35]:
print(days[0])

Monday

C:\Users\Dell\AppData\Local\Temp\ipykernel_18088\393391452.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(days[0])

In [36]:
print(days[1:])

b      Tuesday
c    Wednesday
dtype: object

In [37]:
print(days['c'])

Wednesday

In [38]:
print(pd.DataFrame())

Empty DataFrame
Columns: []
Index: []

In [39]:
df_dict = {'Country': ['Ghana', 'Kenya', 'Nigeria', 'Togo'],
          'Capital': ['Accra', 'Nairobi', 'Abuja', 'Lome'],
          'Population':[10000, 8500, 35000, 12000],
          'Age': [60, 70, 80, 75]}
df = pd.DataFrame(df_dict, index=[2, 4, 6, 8])
df_list = [['Ghana', 'Accra', 10000, 60], ['Kenya', 'Nairobi', 8500, 70],['Nigeria', 'Abuja', 35000, 80], ['Togo', 'Lome', 12000, 75]]
df1 = pd.DataFrame(df_list, columns=['Country', 'Capital', 'Population', 'Age'], index=[2, 4, 6, 8])
print(df)
print(df1)

   Country  Capital  Population  Age
2    Ghana    Accra       10000   60
4    Kenya  Nairobi        8500   70
6  Nigeria    Abuja       35000   80
8     Togo     Lome       12000   75
   Country  Capital  Population  Age
2    Ghana    Accra       10000   60
4    Kenya  Nairobi        8500   70
6  Nigeria    Abuja       35000   80
8     Togo     Lome       12000   75

In [40]:
print(df.iloc[3])

Country        Togo
Capital        Lome
Population    12000
Age              75
Name: 8, dtype: object

In [41]:
print(df.loc[6])

Country       Nigeria
Capital         Abuja
Population      35000
Age                80
Name: 6, dtype: object

In [42]:
print(df['Capital'])

2      Accra
4    Nairobi
6      Abuja
8       Lome
Name: Capital, dtype: object

In [43]:
print(df.at[6, 'Country'])

Nigeria

In [44]:
print(df.iat[2, 0])

Nigeria

In [45]:
print(df['Population'].sum())

65500

In [47]:
print(df['Population'].mean())

16375.0

In [48]:
print(df['Age'].mean())

71.25

In [50]:
print(df['Population'].dtype)

int64

In [51]:
print(df['Age'].dtype)

int64

In [54]:
print(df.describe())

         Population        Age
count      4.000000   4.000000
mean   16375.000000  71.250000
std    12499.166639   8.539126
min     8500.000000  60.000000
25%     9625.000000  67.500000
50%    11000.000000  72.500000
75%    17750.000000  76.250000
max    35000.000000  80.000000

In [55]:
df_dict2 = {'Name': ['James', 'Yemen', 'Caro', np.nan],
           'Profession': ['Researcher', 'Artist', 'Doctor', 'Writer'],
           'Experience': [12, np.nan, 10, 8],
           'Height': [np.nan, 175, 180, 150]}
new_df = pd.DataFrame(df_dict2)

In [56]:
print(new_df)

    Name  Profession  Experience  Height
0  James  Researcher        12.0     NaN
1  Yemen      Artist         NaN   175.0
2   Caro      Doctor        10.0   180.0
3    NaN      Writer         8.0   150.0

In [57]:
new_df.isnull()

    Name  Profession  Experience  Height
0  False       False       False    True
1  False       False        True   False
2  False       False       False   False
3   True       False       False   False

In [58]:
new_df.dropna()

   Name Profession  Experience  Height
2  Caro     Doctor        10.0   180.0

In [59]:
new_df1 = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")
print(new_df1)

       Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]

In [4]:
import pandas as pd

In [6]:
new_df1 = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")
print(new_df1)

       Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]

In [7]:
new_df1.isnull()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,False,False,False,False,False,False,False,False,False,False,False,False
60939,False,False,False,False,False,False,False,False,False,False,False,False
60940,False,False,False,False,False,False,False,False,False,False,False,False
60941,False,False,False,False,False,False,False,False,False,False,False,False
60942,False,False,False,False,False,False,False,False,False,False,False,False

In [8]:
new_df1.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [9]:
new_df1.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
60938    False
60939    False
60940    False
60941    False
60942    False
Length: 60943, dtype: bool

In [10]:
new_df1.duplicated().any()

False

In [11]:
new_df2 = pd.DataFrame(new_df1)
print(new_df2)

       Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]

In [12]:
new_df1.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [14]:
my_tuppy = (1, 2, 5, 8)
my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [17]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age', 'Nationality', 'Overall']
foList = pd.DataFrame(lst, columns = col,index = [1, 2, 3])
print(foList)

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [25]:
new_df1.groupby('Item').sum()

,Area Code,Area,Item Code,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,,,,
"Alcohol, Non-Food",38447,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAngo...,752497,1515090,ProductionImport QuantityStock VariationDomest...,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,2403.00,2180.00,2223.00,2348.00,2293.00
Alcoholic Beverages,75016,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,1649136,2171381,ProductionImport QuantityStock VariationExport...,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,102410.11,98783.72,96958.75,95581.06,97847.27
Animal Products,18060,AlgeriaAlgeriaAlgeriaAngolaAngolaAngolaBeninBe...,397035,90990,Food supply (kcal/capita/day)Protein supply qu...,kcal/capita/dayg/capita/dayg/capita/daykcal/ca...,11935.65,11811.73,11661.69,11547.65,11578.61
Animal fats,85279,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,1882494,2567303,ProductionImport QuantityStock VariationExport...,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,209460.54,200675.72,183314.22,269617.53,269648.27
Apples and products,69280,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,1352989,1920418,ProductionImport QuantityStock VariationExport...,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,9499.23,10559.15,9853.26,10198.90,9640.51
...,...,...,...,...,...,...,...,...,...,...,...
"Vegetables, Other",77779,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,1518715,2275409,ProductionImport QuantityStock VariationExport...,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,155038.96,158104.08,156218.90,157752.59,163987.21
Vegetal Products,18060,AlgeriaAlgeriaAlgeriaAngolaAngolaAngolaBeninBe...,391905,90990,Food supply (kcal/capita/day)Protein supply qu...,kcal/capita/dayg/capita/dayg/capita/daykcal/ca...,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,87073,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,1639683,2654934,ProductionImport QuantityStock VariationExport...,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,66206,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,1319535,1818328,ProductionImport QuantityStock VariationExport...,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,4497.36,4251.81,3872.09,4178.02,4039.32
Yams,50798,AlgeriaAlgeriaAlgeriaAngolaAngolaAngolaAngolaB...,970905,1525745,Export QuantityDomestic supply quantityResidua...,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,200396.96,203151.78,220626.20,229174.59,221272.09

In [26]:
new_df1.groupby('Area').sum()

,Area Code,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Area,,,,,,,,,,,
Algeria,5252,3532053,PopulationPopulationGrand TotalGrand TotalGran...,5017927,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,313375.33,324058.40,326007.41,325644.27,341729.98
Angola,9968,3819908,PopulationPopulationGrand TotalGrand TotalGran...,5515088,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,208584.42,209565.67,214725.32,229159.57,235206.68
Benin,68105,3453692,PopulationPopulationGrand TotalGrand TotalGran...,4852820,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,118050.79,108181.13,117963.59,124771.22,124960.70
Botswana,27560,3704902,PopulationPopulationGrand TotalGrand TotalGran...,5259784,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,22339.92,23024.85,22970.65,22101.30,23129.08
Burkina Faso,328297,3778795,PopulationPopulationGrand TotalGrand TotalGran...,5431243,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,105051.33,102701.22,107702.27,101855.07,112970.72
Cabo Verde,44100,3396746,PopulationPopulationGrand TotalGrand TotalGran...,4787751,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,14576.94,14538.93,14569.40,14650.74,14622.60
Cameroon,46720,3916078,PopulationPopulationGrand TotalGrand TotalGran...,5663196,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,217630.28,225220.72,231714.36,232030.43,233022.93
Central African Republic,49728,3607546,PopulationPopulationGrand TotalGrand TotalGran...,5069094,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,28739.02,28885.34,29454.54,29937.00,30101.57
Chad,52377,3606529,PopulationPopulationGrand TotalGrand TotalGran...,5108355,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,65940.17,65835.88,72673.76,71594.68,72282.24
Comoros,2025,124514,"Fish, Body OilFish, Body OilFish, Body OilFish...",241681,Import QuantityDomestic supply quantityOther u...,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,32.00,41.34,54.91,59.84,59.84
Congo,64998,3792029,PopulationPopulationGrand TotalGrand TotalGran...,5445560,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,38699.26,40255.51,40592.66,41181.68,42005.53
CÃ´te d'Ivoire,156969,3934818,PopulationPopulationGrand TotalGrand TotalGran...,5691192,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,195982.84,211591.29,211439.20,224599.01,227018.00
Djibouti,78840,2956078,PopulationPopulationGrand TotalGrand TotalGran...,3980378,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,21332.28,23690.16,21783.91,22729.91,23718.96
Egypt,87792,3996567,PopulationPopulationGrand TotalGrand TotalGran...,5893126,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,849192.30,868218.73,858568.63,866379.92,852652.92
Eswatini,268356,3456174,PopulationPopulationGrand TotalGrand TotalGran...,4870226,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,53285.75,54072.07,54025.21,54343.33,55045.07
Ethiopia,344386,3878162,PopulationPopulationGrand TotalGrand TotalGran...,5598223,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,415935.50,429139.33,444567.57,448683.76,450788.86
Ethiopia PDR,2418,107853,"Fish, Liver OilFish, Liver OilFish, Liver OilF...",209609,Import QuantityDomestic supply quantityOther u...,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,0.00,0.00,0.00,0.00,0.00
Gabon,92130,3354410,PopulationPopulationGrand TotalGrand TotalGran...,4590308,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,28126.31,28367.30,28129.95,27979.64,28339.38
Gambia,87600,3145402,PopulationPopulationGrand TotalGrand TotalGran...,4272295,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,19607.87,19665.39,21758.15,23154.18,23513.80
Ghana,109674,3639339,PopulationPopulationGrand TotalGrand TotalGran...,5135536,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,308328.59,311092.13,314320.45,337599.06,358915.64
Guinea,126900,3782145,PopulationPopulationGrand TotalGrand TotalGran...,5431286,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,91213.40,92803.39,95450.24,98138.87,103262.08
Guinea-Bissau,197400,3035574,PopulationPopulationGrand TotalGrand TotalGran...,4011694,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,17708.67,17990.06,18524.83,19102.77,18997.92
Kenya,177840,4185637,PopulationPopulationGrand TotalGrand TotalGran...,6211860,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,255211.01,265506.19,260257.56,264660.66,270916.80
Lesotho,140300,3099348,PopulationPopulationGrand TotalGrand TotalGran...,4204994,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,19125.89,17965.84,17258.96,21267.96,19109.23
Liberia,148338,3249929,PopulationPopulationGrand TotalGrand TotalGran...,4309057,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,27898.35,28698.10,29746.68,29342.20,29629.83
Madagascar,185631,3864258,PopulationPopulationGrand TotalGrand TotalGran...,5619900,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,128985.32,126674.90,129010.25,131197.73,134576.44
Malawi,188110,3879389,PopulationPopulationGrand TotalGrand TotalGran...,5600952,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,173454.86,167989.09,164970.42,181098.71,187366.09
Mali,171969,3469876,PopulationPopulationGrand TotalGrand TotalGran...,4878889,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,123038.75,132456.58,147324.78,149928.33,159026.42
Mauritania,162520,3222107,PopulationPopulationGrand TotalGrand TotalGran...,4297253,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,109557.63,61909.99,79872.42,156665.46,157479.95
Mauritius,188786,3711587,PopulationPopulationGrand TotalGrand TotalGran...,5317897,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,50898.12,53372.42,49272.41,51114.83,47150.91
Morocco,199199,3743082,PopulationPopulationGrand TotalGrand TotalGran...,5414999,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,375977.76,412473.80,367884.18,388495.36,399271.27
Mozambique,205488,3830309,PopulationPopulationGrand TotalGrand TotalGran...,5566682,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,160757.87,158231.17,159924.41,161407.98,164934.05
Namibia,188601,3452725,PopulationPopulationGrand TotalGrand TotalGran...,4813630,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,32026.42,30687.90,30389.07,29874.89,29350.04
Niger,221674,3763737,PopulationPopulationGrand TotalGrand TotalGran...,5384208,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,108236.65,117834.65,123601.88,126707.58,133982.86
Nigeria,234366,3954357,PopulationPopulationGrand TotalGrand TotalGran...,5726937,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,1399542.19,1414362.83,1482945.71,1483268.23,1499774.24
Rwanda,262384,3824085,PopulationPopulationGrand TotalGrand TotalGran...,5477860,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,70001.38,70138.83,70921.76,73663.69,74839.08
Sao Tome and Principe,227161,3168050,PopulationPopulationGrand TotalGrand TotalGran...,4260866,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,12458.64,12386.93,12647.56,12662.63,12806.49
Senegal,285090,3922180,PopulationPopulationGrand TotalGrand TotalGran...,5643618,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,78533.93,91939.14,89017.72,95681.15,95493.82
Seychelles,13328,188266,"Fish, Body OilFish, Body OilFish, Body OilFish...",367816,ProductionImport QuantityStock VariationExport...,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,305.20,358.20,416.32,442.34,442.34
Sierra Leone,244674,3343306,PopulationPopulationGrand TotalGrand TotalGran...,4603040,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,62570.89,62523.14,52767.72,55311.33,55981.73
South Africa,282598,3759379,PopulationPopulationGrand TotalGrand TotalGran...,5450983,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,497289.52,468352.18,462224.16,517590.54,509787.97
Sudan,363216,3534661,PopulationPopulationGrand TotalGrand TotalGran...,4866583,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,247577.56,230652.54,253197.29,239931.92,268054.39
Sudan (former),10918,146631,"Fish, Body OilFish, Body OilFish, Body OilFish...",286940,Import QuantityDomestic supply quantityFeedOth...,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,0.00,0.00,0.00,0.00,0.00
Togo,280798,3478828,PopulationPopulationGrand TotalGrand TotalGran...,4868747,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,47618.05,47834.59,47930.75,49841.88,54872.00
Tunisia,297036,3602818,PopulationPopulationGrand TotalGrand TotalGran...,5131662,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,117029.33,128211.41,123778.86,124167.20,127343.17
Uganda,329508,3909109,PopulationPopulationGrand TotalGrand TotalGran...,5660301,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,218142.33,220615.72,202981.34,213950.38,222147.25
United Republic of Tanzania,305085,3809549,PopulationPopulationGrand TotalGrand TotalGran...,5461092,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,337430.64,341969.46,333765.86,322616.85,349763.41
Zambia,364201,3892801,PopulationPopulationGrand TotalGrand TotalGran...,5638889,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,99318.53,96214.00,97728.69,103223.77,101604.27
Zimbabwe,252133,3739292,PopulationPopulationGrand TotalGrand TotalGran...,5346770,Total Population - Both sexesDomestic supply q...,1000 persons1000 tonneskcal/capita/dayg/capita...,78366.34,74041.79,75638.88,75919.34,76581.41

In [28]:
new_df1.groupby('Element').sum(2017)

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [29]:
new_df1.groupby('Element').sum()

,Area Code,Area,Item Code,Item,Element Code,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,,,,
Domestic supply quantity,708993,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,14197445,PopulationCereals - Excluding BeerWheat and pr...,28068795,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,11840553,Cereals - Excluding BeerWheat and productsRice...,26026133,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,13535000,Grand TotalVegetal ProductsAnimal ProductsCere...,3435732,g/capita/dayg/capita/dayg/capita/dayg/capita/d...,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,3538507,Cereals - Excluding BeerWheat and productsRice...,7282199,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,13285035,Cereals - Excluding BeerWheat and productsRice...,25406622,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,13511060,Grand TotalVegetal ProductsAnimal ProductsCere...,3329296,kcal/capita/daykcal/capita/daykcal/capita/dayk...,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,13185401,Cereals - Excluding BeerWheat and productsRice...,3163725,kgkgkgkgkgkgkgkgkgkgkgkgkgkgkgkgkgkgkgkgkgkgkg...,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,13795966,Cereals - Excluding BeerWheat and productsRice...,28834929,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,5424803,Cereals - Excluding BeerWheat and productsRice...,10292107,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,4729749,Cereals - Excluding BeerWheat and productsStar...,8926728,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,5350416,Cereals - Excluding BeerWheat and productsRice...,10313310,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,10450053,Cereals - Excluding BeerWheat and productsRice...,21388191,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,13535000,Grand TotalVegetal ProductsAnimal ProductsCere...,3385502,g/capita/dayg/capita/dayg/capita/dayg/capita/d...,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,12421089,Cereals - Excluding BeerWheat and productsRice...,24066350,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,2035933,Cereals - Excluding BeerWheat and productsRice...,4211574,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,11329527,Cereals - Excluding BeerWheat and productsRice...,21464704,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,AlgeriaAngolaBeninBotswanaBurkina FasoCabo Ver...,112545,PopulationPopulationPopulationPopulationPopula...,22995,1000 persons1000 persons1000 persons1000 perso...,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,AngolaAngolaBotswanaBotswanaBotswanaBotswanaBo...,1486528,OilcropsGroundnuts (Shelled Eq)Cereals - Exclu...,2869905,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,416.00,349.00,89.00,91.00,90.00